body {
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}

h4 {
    font-style: normal;
    font-weight: 600;
}

.line0 {
    width: 80px;
    height: 0;
    border: 2px solid #3F3D56;
    background-color: #3F3D56;
    margin-left: 15px;
}

.line0-flex {
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 1000;
    border-radius: 20px;
    background: none;
    padding: 18px 28px;
    cursor: pointer;
    border: none;
    transition: transform 100ms ease-in;
}

button:hover {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border: none;
    transform: scale(1.1);
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #FFFFFF;
    margin: 18px 90px 0 90px;
}

.comp-name {
    float: left;

}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding: 15px;

}

.nav_phone {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    margin: 0 20px 0 24px;
}

.nav-button {
    padding: 10px 7px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
    color: white;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

main {
    background-color: #E5E5E5;
    margin: 0 auto;
    padding-left: 90px;
    padding-bottom: 0;
    /*padding-bottom: 200px;*/
}

.section1 {
    display: flex;
    flex-direction: row;
}

.section1-flex {
    display: flex;
    flex-direction: column;
}

.section1 h1 {
    font-size: 59px;
    line-height: 24px;
}

.section1 h2 {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 45px;
    line-height: 30px;
    padding-top: 30px;
}

.line1 {
    width: 190px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 5px;
}

.section1 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}

.section1 img {
    width: 700px;
    height: 700px;
}

.section2 {

}

.section2 h1 {
    text-align: center;
    font-size: 70px;
    line-height: 24px;
}

.section2-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2-innerFlex {
    display: flex;
    flex-direction: column;

}

.section2-innerFlex h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
}

.section2-innerFlex p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}

.section2 img {
    width: 645px;
    height: 320px;
    margin-right: 100px;
    margin-top: 35px;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 100px;

}

.section3 img {
    width: 250px;
    height: 250px;
}

.section4 {
    margin: 0 auto;
    padding: 0;
}

.section4 h1 {
    font-size: 70px;
    line-height: 24px;
    text-align: center;
    margin-top: 100px;
    color: #3F3D56;
    padding-bottom: 70px;
}

.goodTrade img {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.rectangle1 {
    z-index: 1;
    width: 750px;
    height: 380px;
}

.goodTradeText {
    font-family: Open Sans, sans-serif;
    position: absolute;
    z-index: 2;
    top: 1980px;
    left: 185px;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
}

.round1 {
    z-index: 2;
    right: 370px;
    bottom: 25px;
    width: 250px;
    height: 250px;
}

.pointer1 {
    z-index: 2;
    right: 1270px;
    bottom: 40px;
}

.woman1 {
    z-index: 3;
    right: 680px;
    bottom: 25px;
    height: 350px;
    width: 350px;
}

.anotherTrade img {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.anotherTradeText {
    font-family: Open Sans, sans-serif;
    position: absolute;
    z-index: 2;
    top: 1980px;
    left: 850px;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
}

.rectangle2 {
    z-index: 1;
    left: 650px;
    bottom: 385px;
    width: 750px;
    height: 380px;
}

.round2 {
    z-index: 2;
    left: 280px;
    bottom: 420px;
    width: 250px;
    height: 250px;
}

.pointer2 {
    z-index: 2;
    right: 260px;
    bottom: 420px;
}

.woman2 {
    z-index: 3;
    right: 55px;
    bottom: 430px;
    width: 250px;
    height: 270px;
}

.publicCatering {
    margin: 0 auto;
    padding: 0;
}

.publicCatering img {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.publicCateringText {
    font-family: Open Sans, sans-serif;
    position: absolute;
    z-index: 2;
    top: 2550px;
    left: 190px;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
}

.rectangle3 {
    z-index: 1;
    bottom: 200px;
    width: 750px;
    height: 380px;
}

.pointer3 {
    z-index: 2;
    right: 660px;
    bottom: 235px;
}

.manWoman {
    z-index: 3;
    right: 490px;
    bottom: 200px;
    width: 350px;
    height: 350px;
}

.services {
    margin: 0 auto;
    padding: 0;
}

.services img {
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.servicesText {
    font-family: Open Sans, sans-serif;
    position: absolute;
    z-index: 2;
    top: 2550px;
    left: 840px;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
}

.rectangle4 {
    z-index: 1;
    left: 650px;
    bottom: 585px;
    width: 750px;
    height: 380px;
}

.round4 {
    z-index: 2;
    left: 295px;
    bottom: 620px;
    width: 250px;
    height: 250px;
}

.pointer4 {
    z-index: 2;
    right: 210px;
    bottom: 620px;
}

.woman4 {
    z-index: 3;
    right: 30px;
    bottom: 600px;
    width: 300px;
    height: 300px;
}

.section5 h1 {
    text-align: center;
    font-size: 70px;
    line-height: 24px;
}

.section5 h3 {
    font-family: Open Sans, sans-serif;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.buttons-flex {
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.buttons-flex button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.section5-flex11 h4 {
    font-family: Source Sans Pro, sans-serif;
    font-size: 40px;
    line-height: 30px;
}

.section5-flex1 img {
    width: 620px;
}

.section5-flex11 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

}

.section5-flex11 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.section5-flex11 {
    display: flex;
    flex-direction: column;
}

.section5-flex1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 30px;
}

.section5-flex22 h4 {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
}

.section5-flex22 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.section5-flex22 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.section5-flex22 {
    display: flex;
    flex-direction: column;
}

.section5-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 140px;
}

.section5-flex2 img {
    width: 630px;
}

.line2 {
    width: 280px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 5px;
}

.colored {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}

.section6 h1 {
    margin-top: 80px;
    font-size: 70px;
    line-height: 24px;
    text-align: center;
}

.section6-buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.section6-flex1 h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    line-height: 45px;
    text-align: left;
    margin-top: 100px;
}

.section6-flex1 h4 {
    font-family: Open Sans, sans-serif;
    font-size: 35px;
    line-height: 40px;
}

.section6-flex1 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.section6-flex1 {
    display: flex;
    flex-direction: column;
}

.section6 button {

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 10px;
    border-radius: 7px;
    width: 250px;
}

.section6-img {
    position: relative;
}

.green {
    z-index: 1;
    top: 150px;
    left: 150px;
}

.grey {
    z-index: 2;
    top: 150px;
    left: 150px;
}

.calc {
    z-index: 3;
}

.pointerLeft {
    z-index: 2;
}

.pointerRight {
    z-index: 2;
}

.section7 h1 {
    font-size: 70px;
    line-height: 24px;
    text-align: center;
    /*    возможно понадобится марджин топ но пока не буду
     ибо есть фотка кассы который надо верстать*/
}

.section7-buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.section7-buttonFlex button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;

}

.section7 h4 {

    font-family: Open Sans, sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

/*    */
select {
    width: 553px;
    height: 70px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;

    background: #FFFFFF;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
}

.selectors-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selectors-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.section7 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #898989;

}

.plus {
    width: 25px;
    height: 25px;
    margin-top: 40px;
}

.after-plus {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    margin-left: 20px;

}

.plus-flex {
    display: flex;
    flex-direction: row;
}

.mouse {
    margin-top: -35px;
}

.last-select {
    background-color: white;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 17px;
    padding-top: 17px;
    border-radius: 7px;
    border: none;
    margin-bottom: 0;
}

.line7 {
    width: 290px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 20px;
}

.section7-flex {
    height: 580px;
    width: 400px;
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.0422px rgba(0, 0, 0, 0.08), 0 1.0422px 12.5065px rgba(0, 0, 0, 0.08);
    border-radius: 7.00547px;
}

.section7-flex p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #898989;
    margin: 30px 0 20px 30px;
    padding: 0;
}

.section7-flex h6 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 10px;
    color: #000000;
    margin: 0 0 50px 30px;
    padding: 0;
}

.section7-flex h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 12px;
    color: #898989;
    margin: 30px 0 35px 30px;
}

.section7-flex button {
    width: 250px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 15px;
    color: #FFFFFF;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    margin: 40px 0 0 30px;
}

.line {
    width: 382px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin: 0 0 35px 20px;
}

.section7-flex h5 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
}

.section7-flex button {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    width: 300px;
    height: 70px;
    left: 23px;
    top: 563px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
}

footer {
    /*background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);*/
    background-image: url("images/footerImg.svg");
    background-size: 1550px;
    background-color: #E5E5E5;
}

.container12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sect1 h2 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 110%;
    margin-bottom: 78px;
    padding-top: 200px;
}

.sect1 img {
    width: 227px;
    height: 75px;
}

.sect2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    padding-top: 220px;
}

hr{
    background-color: #000000;
    border: none;
}

.sect2 input {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 25px;
}

.sect2 button {
    font-size: 25px;
    line-height: 18px;
}

.container12 p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 4px;
}

.container12 input {
    width: 385px;
    height: 70px;
    top: 36px;
    border-radius: 7px;
}

.agree input {
    width: 395px;
    height: 60px;
    left: 785px;
    top: 579px;
}

.agree-icon {
    display: flex;
    flex-direction: row;
}

.agree-icon p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 48px;
}

.agree-icon img {
    border: black;
    width: 24px;
    height: 24px;
    margin-top: 55px;
    margin-right: 5px;
}

.container12 button {
    align-items: center;
    padding: 22px 32px;
    width: 384px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 7px;
}

.container13 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 256px;
    margin-bottom: 72px;
}

.cont13-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    align-content: center;
}

.container13 p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
    opacity: 0.7;
}

.container13 a {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: black;
}

.container13 hr {
    width: 294px;
    height: 1px;
}

.inform {
    margin-top: 40px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;
}



