body {
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}

h4 {
    font-style: normal;
    font-weight: 600;
}

.line0 {
    width: 80px;
    height: 0;
    border: 2px solid #3F3D56;
    background-color: #3F3D56;
    margin-left: 15px;
}

.line0-flex {
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 1000;
    border-radius: 20px;
    background: none;
    padding: 18px 28px;
    cursor: pointer;
    border: none;
    transition: transform 100ms ease-in;
}

button:hover {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border: none;
    transform: scale(1.1);
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #FFFFFF;
    margin: 18px 90px 0 90px;
}

.comp-name {
    float: left;

}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 15px;
}

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding: 15px;

}

.nav_phone {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    margin: 0 20px 0 24px;
}

.nav-button {
    padding: 10px 7px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
    color: white;
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

main {
    background-color: #E5E5E5;
    margin: 0 auto;
    padding-left: 90px;
    padding-bottom: 0;
    /*padding-bottom: 200px;*/
}

.section1 {
    display: flex;
    flex-direction: row;
}

.section1-flex {
    display: flex;
    flex-direction: column;
}

.section1 h1 {
    font-size: 59px;
    line-height: 24px;
}

.section1 h2 {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 45px;
    line-height: 30px;
    padding-top: 30px;
}

.line1 {
    width: 190px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 5px;
}

.section1 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}

.section1 img {
    width: 700px;
    height: 700px;
}

.section2 h1 {
    text-align: center;
    font-size: 70px;
    line-height: 24px;
}

.section2-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2-innerFlex {
    display: flex;
    flex-direction: column;

}

.section2-innerFlex h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
}

.section2-innerFlex p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 35px;
}

.section2 img {
    width: 645px;
    height: 320px;
    margin-right: 100px;
    margin-top: 35px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pic {
    position: relative;
    background-image: url("images/section3/subtract.svg");
    background-repeat: no-repeat;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: -30px;
}

.section3 h5 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 50px 100px 20px 20px;
}

.section3 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 15px 90px 35px 10px;
}

.line3 {
    width: 190px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-left: 30px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 92px;
    width: 1140px;
    margin-bottom: -5px;
}

.icon {
    margin-top: -42px;
    margin-left: 20px;
    width: 65px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4 h1 {
    text-align: center;
    font-size: 70px;
    color: #3F3D56;
    margin-top: 120px;
    padding-bottom: 90px;
}

.spheres h2 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
    margin-left: 32px;
}

.spheres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-right: 90px;
}

.pointer-line {
    margin: 2px 40px 2px -10px;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    margin-left: 40px;
}


.left-pointer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.right-pointer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 1350px;
    margin-top: -70px;
}

.sphere {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 13px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    width: 600px;
    height: 370px;
    margin: 15px 30px;
}

.sphere .pointer {
    margin-left: 20px;
    margin-top: -50px;
    cursor: pointer;
}

.sphere .pointer1 {
    margin-top: -20px;
    margin-left: -500px;
    cursor: pointer;
}

.sphere .pointer2 {
    margin-top: -50px;
    margin-left: 20px;
    cursor: pointer;
}

.sphere .round {
    z-index: 1;
    position: relative;
    margin-top: 30px;
    width: 201px;
    height: 210px;
    margin-left: 350px;
}

.body {
    position: sticky;
    z-index: 2;
}

.woman1 {
    width: 340px;
    margin-left: 280px;
    margin-top: -290px;
}

.woman2 {
    width: 240px;
    margin-left: 280px;
    margin-top: -290px;
}

.woman_man {
    margin-left: 250px;
}

.woman4 {
    width: 240px;
    margin-left: 350px;
    margin-top: -290px;
}

.section5 {
    margin-top: 100px;
}

.section5 h1 {
    text-align: center;
    font-size: 70px;
    line-height: 24px;
    padding-bottom: 30px;
}

.section5 h3 {
    font-family: Open Sans, sans-serif;
    font-size: 35px;
    line-height: 40px;
    text-align: center;

}

.section5 h4 {
    font-family: Source Sans Pro, sans-serif;
    font-size: 35px;
    line-height: 30px;
}

.section5 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
}

.buttons-flex {
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.buttons-flex button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.section5-flex1 img {
    width: 620px;
}

.section5-flex11 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.section5-flex11 {
    display: flex;
    flex-direction: column;
}

.section5-flex1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;
}

.section5-flex22 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.section5-flex22 {
    display: flex;
    flex-direction: column;
}

.pointer-line5 {
    margin-left: -25px;
    align-ites: center;
}

.left-pointer5 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}

.right-pointer5 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 1350px;
    margin-top: -80px;
}

.section5-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 140px;
}

.section5-flex2 img {
    width: 650px;
    margin-left: 10px;
}

.line2 {
    width: 280px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 5px;
}

.colored {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}

.section6 h1 {
    margin-top: 80px;
    font-size: 70px;
    line-height: 24px;
    text-align: center;
}

.section6-buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.section6-flex11 h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    line-height: 45px;
    text-align: left;
    margin-top: 100px;
}

.section6-flex11 h4 {
    font-family: Open Sans, sans-serif;
    font-size: 35px;
    line-height: 40px;
}

.section6-flex11 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.section6-flex11 {
    display: flex;
    flex-direction: column;
}

.section6 button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 10px;
    border-radius: 7px;
    width: 250px;
}

.section6-flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section6-img {
    margin-top: 30px;
}

.green {
    position: relative;
    z-index: 1;
    margin-top: 85px;
}

.grey {
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    margin-left: -450px;

}

.calc {
    position: absolute;
    z-index: 3;
    margin-top: 200px;
    margin-left: -500px;
}

.pnt-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    margin-top: -270px;
    margin-left: 22px;
    width: 35%;
}

.points {
    z-index: 2;
    position: absolute;
    margin-left: 250px;
    margin-top: -70px;
}

.section6 h6 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    margin-left: 150px;
}

.section7 h1 {
    font-size: 70px;
    line-height: 24px;
    text-align: center;
}

.section7-buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.section7-buttonFlex button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.cross-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 585px;
}

.section7 h4 {

    font-family: Open Sans, sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

/*    */
select {
    width: 553px;
    height: 70px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;

    background: #FFFFFF;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
}

.selectors-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selectors-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.section7 p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #898989;

}

.plus {
    width: 25px;
    height: 25px;
    margin-top: 40px;
}

.after-plus {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    margin-left: 20px;

}

.plus-flex {
    display: flex;
    flex-direction: row;
}

.mouse {
    margin-top: -35px;
}

.last-select {
    background-color: white;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 17px;
    padding-top: 17px;
    border-radius: 7px;
    border: none;
    margin-bottom: 0;
}

.line7 {
    width: 290px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 20px;
}

.section7-flex {
    height: 580px;
    width: 400px;
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.0422px rgba(0, 0, 0, 0.08), 0 1.0422px 12.5065px rgba(0, 0, 0, 0.08);
    border-radius: 7.00547px;
}

.section7-flex p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    color: #898989;
    margin: 30px 0 20px 30px;
    padding: 0;
}

.section7-flex h6 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 10px;
    color: #000000;
    margin: 0 0 50px 30px;
    padding: 0;
}

.section7-flex h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 12px;
    color: #898989;
    margin: 30px 0 35px 30px;
}

.section7-flex button {
    width: 250px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 15px;
    color: #FFFFFF;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    margin: 40px 0 0 30px;
}

.line {
    width: 382px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin: 0 0 35px 20px;
}

.section7-flex h5 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
}

.section7-flex button {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    width: 300px;
    height: 70px;
    left: 23px;
    top: 563px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
}

footer {
    background-image: url("images/footerImg.svg");
    background-size: 1550px;
    background-color: #E5E5E5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sect8 h2 {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 110%;
    margin-bottom: 78px;
    padding-top: 200px;
}

.sect8 img {
    width: 227px;
    height: 75px;
}

.sect10 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    padding-top: 220px;
}

hr {
    background-color: #000000;
    border: none;
}

.sect10 input {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 25px;
}

.sect10 button {
    font-size: 25px;
    line-height: 18px;
}

.footer p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 4px;
}

.footer input {
    width: 385px;
    height: 70px;
    top: 36px;
    border-radius: 7px;
}

.agree input {
    width: 395px;
    height: 60px;
    left: 785px;
    top: 579px;
}

.agree-icon {
    display: flex;
    flex-direction: row;
}

.agree-icon p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 48px;
}

.agree-icon img {
    border: black;
    width: 20px;
    height: 20px;
    margin-top: 55px;
    margin-right: 5px;
}

.footer button {
    align-items: center;
    padding: 22px 32px;
    width: 384px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 7px;
}

.section9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 256px;
    margin-bottom: 72px;
}

.sect9-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    align-content: center;
}

.section9 p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
    opacity: 0.7;
}

.section9 a {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: black;
}

.section9 hr {
    width: 294px;
    height: 1px;
}

.info {
    margin-top: 40px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;
}
