body {
    margin: 0 auto;
}

h1 {
    font-style: normal;
    margin: 0 auto;
    font-size: 55px;
    font-weight: 700;
    padding-top: 54px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
}

.center-h1 {
    text-align: center;
    padding-top: 0;
}

p {
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;

}

button {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 1000;
    border-radius: 20px;
    background: none;
    padding: 18px 28px;
    cursor: pointer;
    border: none;
    transition: transform 100ms ease-in;
}

button:hover {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border: none;
    transform: scale(1.1);
}

a {
    font-family: 'Open Sans', serif;
    font-style: normal;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.headerContainer {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header {
    width: 100%;
    background: white;
}

.headerMenu ul {
    padding-left: 0;
}

.headerMenuItem {
    display: inline-block;
    margin-right: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Source Sans Pro', serif;
}

.headerMenuItem:last-child {
    margin-right: 0;
}

.roundedButton {
    padding: 10px 7px;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    color: white;
    margin-left: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Source Sans Pro', serif;
}

.headerPhoneNumber {
    font-size: 20px;
    font-weight: 700;
    margin-left: 36px;
    font-family: Open Sans, serif;
    text-decoration: none;
}

.logo {
    padding-bottom: 10px;
}

.mainContainer {
    max-width: 1080px;
    margin: 0 auto;
}

.main {
    width: 100%;
    background-color: #E5E5E5;
}

.textAndImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.line {
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    width: 200px;
}

.man-screen{
    width: 614px;
    height: 690px;
}

.people-chat{
    margin-top: 100px;
}

.four-blocks-container {
    max-width: 1080px;
    margin: 0 auto;
}

.four-blocks {
    width: 100%;
    padding-top: 130px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.08), 0 0.5px 6px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 249px;
    height: 211px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.card .icon {
    margin: -40px auto auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border: 5px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 10px 0 10px;
    padding-top: 0;
}

.card h5 {
    font-size: 19px;
    font-family: 'Open Sans', serif;
    text-align: center;
    font-weight: bold;
    display: block;
    border-bottom: 3px solid #B4ABAB;
    padding-bottom: 10px;
    margin: 5px 20px 5px 20px;
}

.add h5 {
    padding-bottom: 32px;
}

.business-spheres {
    padding-top: 120px;
    width: 100%;
}

.business-spheres-container {
    max-width: 1200px;
    margin: 0 auto;
}

.business-spheres h1 {
    text-align: center;
    color: #3F3D56;
    padding-bottom: 120px;
    padding-top: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
}

.spheres h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
    padding-top: 37px;
    padding-left: 30px;
}

.spheres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.woman {
    float: right;
    margin-top: -30px;
    margin-right: -5px;
}

.shopping{
    margin-top: -60px;
    margin-right: -35px;
}

.walking{
    margin-right: 20px;
}

.pointer-line {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.left-pointer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: -70px;
}

.right-pointer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: -60px;
}

.sphere {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 13px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    width: 525px;
    height: 305px;
}

.sphere .pointer {
    padding-top: 180px;
    padding-left: 28px;
    cursor: pointer;
}


.business-growth {
    margin-top: 120px;
    width: 100%;
}

.business-growth-container {
    max-width: 1200px;
    margin: 0 auto;
}

.business-growth h1 {
    padding-top: 0;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 54px;
}

.business-growth h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    padding-top: 63px;
    margin: 0 auto;
}

.buttons-flex {
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-flex button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.text-img-pairs {
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;
}

.text-img-pairs img {
    width: 535px;
    height: 365px;
}

.business-growth-top-pair h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
}

.business-growth-flex11 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.business-growth-flex11 {
    display: flex;
    flex-direction: column;
}

.business-growth-top-pair {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.business-growth-flex22 button {
    width: 250px;
    font-size: 25px;
    line-height: 18px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
}

.business-growth-flex22 {
    display: flex;
    flex-direction: column;
}

.pointer-line5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.left-pointer5 img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: -80px;
}

.right-pointer5 img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: -40px;
}

.business-growth-bottom-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

.profit-img {
    margin-left: -50px;
}

.business-growth-bottom-pair h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
}

.text-img-pairs p {
    font-size: 25px;
    line-height: 30px;
    padding-top: 0;
}

.line2 {
    width: 280px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
}

.colored {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 20px;
}

.our-cash-desks {
    margin: 0 auto;
    width: 100%;
}

.cash-desk-h1 {
    padding-top: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 50px;
}

.cash-desks-buttonFlex {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.cash-desks-buttonFlex button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;

}

.neva-h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
    padding-top: 105px;
    padding-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
}

.textContainer h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.textContainer p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.textContainer button {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
    width: 250px;
}

.pnt-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    margin-top: -270px;
    margin-left: 22px;
    max-width: 534px;
    width: 100%;
}

.cash-desk-img {
    text-align: center;
}

.cash-desk-img h6 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    margin: 50px auto 0;
}

.green {
    position: relative;
    z-index: 1;
    margin-top: 85px;
}

.grey {
    position: absolute;
    z-index: 2;
    margin-top: 160px;
    margin-left: -450px;

}

.calc {
    position: absolute;
    z-index: 3;
    margin-top: 200px;
    margin-left: -500px;
}

.pnt-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    margin-top: -270px;
    margin-left: 22px;
    width: 35%;
}

.points {
    z-index: 2;
    position: absolute;
    margin-left: 250px;
    margin-top: -70px;
}

.our-cash-desks h6 {
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    margin-left: 150px;
}

.choose-solution {
    max-width: 1080px;
    margin: 0 auto;
}

.choose-solution-container {
    width: 100%;
}

.choose-solution h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}

.choose-solution-buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.choose-solution-buttonFlex button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.cross-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 585px;
}

.choose-solution h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 130px;
    margin: 0 auto;
}

select {
    width: 553px;
    height: 70px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
}

.selectors-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selectors-flex1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.choose-solution p {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #898989;
}

.plus {
    width: 25px;
    height: 25px;
    margin-top: 40px;
}

.after-plus {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    margin-left: 20px;
}

.plus-flex {
    display: flex;
    flex-direction: row;
}

.mouse {
    margin-top: -37px;
    width: 550px;
}

.last-select {
    background-color: white;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 17px;
    padding-top: 17px;
    border-radius: 7px;
    border: none;
    width: 550px;
}

.line7 {
    width: 290px;
    height: 0;
    border: 2px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 20px;
}

.choose-solution-flex {
    height: 640px;
    width: 430px;
    margin-top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.0422px rgba(0, 0, 0, 0.08), 0 1.0422px 12.5065px rgba(0, 0, 0, 0.08);
    border-radius: 7.00547px;
}

.choose-solution-flex p:first-child {
    font-size: 20px;
    line-height: 35px;
    color: #898989;
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.choose-solution-flex p {
    font-size: 20px;
    line-height: 35px;
    color: #898989;
    padding-top: 60px;
    padding-left: 23px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.choose-solution-flex h6 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 10px;
    color: #000000;
    margin: 0 auto;
    padding-left: 23px;
}

.choose-solution-flex h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 12px;
    color: #898989;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 23px;
}

.select-button {
    width: 250px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 15px;
    color: #FFFFFF;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    margin-left: 23px;
    margin-top: 70px;
}

.choose-solution-flex h5 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
}

.choose-solution-flex button {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    width: 300px;
    height: 70px;
    left: 23px;
    top: 563px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 18px;
}

footer {
    background-image: url("images/footerImg.svg");
    background-size: 1550px;
    background-color: #E5E5E5;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.application-logo h2 {
    font-weight: normal;
    font-size: 55px;
    line-height: 110%;
    margin-bottom: 78px;
    padding-top: 215px;
}

.application-logo img {
    width: 227px;
    height: 75px;
}

.app-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    padding-top: 220px;
}

hr {
    background-color: #000000;
    border: none;
}

.app-sub input {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 25px;
}

.app-sub button {
    font-size: 25px;
    line-height: 18px;
}

.footer p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 4px;
    padding-top: 0;
}

.footer input {
    width: 385px;
    height: 70px;
    top: 36px;
    border-radius: 7px;
}

.agree input {
    width: 395px;
    height: 60px;
    left: 785px;
    top: 579px;
}

.agree-icon {
    display: flex;
    flex-direction: row;
}

.agree-icon p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 48px;
}

.agree-icon img {
    border: black;
    width: 20px;
    height: 20px;
    margin-top: 55px;
    margin-right: 5px;
}

.footer button {
    align-items: center;
    padding: 22px 32px;
    width: 384px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 7px;
}

.order-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 256px;
    margin-bottom: 72px;
}

.order-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    align-content: center;
}

.order-contact-info p {
    font-size: 14px;
    line-height: 110%;
    opacity: 0.7;
}

.order-contact-info a {
    font-size: 30px;
    line-height: 100%;
    font-weight: normal;
}

.order-contact-info hr {
    width: 294px;
    height: 1px;
}

.info {
    margin-top: 40px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;
}